body {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	text-align: center;
	font-family: monospace;
	color: #1d1d1d;
}

#main {
	width: 800px;
	text-align: left;
	border: 0;
	padding: 0;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 20pt;
	padding: 7px 0;
	margin: 20px 0;
	border-bottom: 1px solid #adadad;
}

h2 {
	font-size: 14pt;
	padding: 5px 0;
	margin: 14px 0;
	border-bottom: 1px solid #adadad;
}

p {
	margin-bottom: 7px;
}
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.code {
	color: #999900;
	border-bottom: 1px solid #999900;
}